@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary: #181661;
    --secondary: #48cae4;
    --black: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    box-sizing: border-box; /* Ensure padding and border are included in element's width and height */
}

html {
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5rem;
}

section {
    padding: 5rem 7%;
}

.heading {
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--primary);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #181661;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

/* .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--white);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--primary);
}

.header .navbar .btn {
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover {
    color: var(--white);
} */

@media (max-width: 768px) {
    .header-content {
      flex-direction: column;
    }
  
    nav ul {
      margin-top: 1rem;
    }
  
    nav ul li {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
  

#menu-btn {
    display: none;
}

.home {
    padding: 0;
}

.home .slide {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .slide .content {
    width: 80rem;
    text-align: center;
}

.home .slide .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a slight background to enhance text readability */
    border-radius: 0.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
    border-radius: 50%; /* Make the buttons round */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--primary);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.availability form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: 0.5rem;
}

.availability form .box {
    flex: 1 1 20rem;
}

.availability form .box p {
    font-size: 2rem;
    color: var(--primary);
}

.availability form .box input,
.availability form .box select {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.availability form .box select {
    appearance: none;
}

.availability form .box input[type="date"] {
    cursor: pointer;
}

.availability form .btn {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.availability form .btn:hover {
    background-color: darken(var(--primary), 10%);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image {
    flex: 1 1 30rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 51rem;
}

.about .row .content h3 {
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}

.room .slide {
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.room .slide .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.room .slide .image img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.room .slide .image .price {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1.7rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.room .slide .image .fa-shopping-cart {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--white);
    color: var(--black);
    border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover {
    background: var(--secondary);
    color: var(--white);
}

.room .slide .content {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room .slide .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.room .slide .content p {
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    line-height: 1.5;
    flex-grow: 1;
}

.room .slide .content .stars  {
    padding: 1rem 0;
}
.room .slide .content .stars i {
    font-size: 1.7rem;
}

.room .slide .content .btn {
    align-self: flex-start;
}

.services .box-container{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 2rem;
}

.services .box-container .box{

    text-align: center;
}

.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3{

    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

.reservation form{
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;;
}

.reservation form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.reservation form .container .box {
    flex: 1 1 40rem;
}
.reservation form .container .box p {
    font-size: 1.8rem;
    color: var(--primary);
}

.reservation form .container .box .input {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid(rgba(0,0,0,0.1));
    color: var(--black);
}

header {
    background-color: #181661;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: #181661;
    justify-content: space-between;
    color: #fff;
    z-index: 100;
    animation: fadeIn .5s ease-in forwards;
    
  }
    
  .nav-menu a:hover {
    color: #c0b283;
  }
  
  .logo img {
    width: 90px;
    height: auto;
    margin: 0;
  }
  
  .nav-menu {
    display: flex;
    gap: 5px;

  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease .3s;
    font-weight: bold; 
    justify-content: space-between;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 10px;
    border: 2px solid white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .nav-menu {
      position: absolute;
      left: -90%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #181661;
      width:30%;
      border-radius: 5px;
      text-align: center;
      transition: 0.3s;
      z-index: 101;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-menu a {
      padding: 16px 0;
    }
  
    .hamburger {
      display: block;
      z-index: 102;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
footer {
  position: absolute;
  background-color: #181661;
  color: #fff;
  text-align: center;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1 rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a i {
  color: #c0b283;
}
.socials a:hover i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.footer-bottom {
  color: black;
  background-color: white;
  width: 100wv;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 4;
  font-weight: 200;
}

.contact form {
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.contact form .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact form .container .box {
    flex: 1 1 40rem;
}

.contact form .container .box p {
    font-size: 1.8rem;
    color: var(--primary);
}

.contact form .container .box .input {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0,0,0,0.1);
    color: var(--black);
    outline: none;
}

.contact form .container .box .input:focus {
    border-bottom: .2rem solid var(--primary);
}

.contact form .container .box textarea.input {
    resize: none;
}

.contact form .btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.contact form .btn:hover {
    background-color: var(--black);
}
.book-button {
    background-color: white;
    color: #000; /* You can choose another color for the text if you like */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.book-button:hover {
    background-color: #f0f0f0; /* Slightly darker on hover */
}
